* {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;

}

a:hover {
  font-size: 20px;
  transition: 0.2s ease-in-out;
  /* text-shadow: -5px -5px 5px grey ; */
}

#verticalText {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-left: 45%;
  background-color: aqua;
}

#headText {
  font-size: 30px;
}

#siren {
  font-weight: 700;
}

#NavBar {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
}

.hr {
  opacity: 0.2;
  height: 3px;
  background-color: grey;
}

#grid {
  display: grid;
  /* background-color: aqua; */
  height: 300px;
  width: 1200px;
  margin: auto;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: 3fr 1fr;
}

.b1 {
  grid-row: 1/3;
  border-radius: 10px;
}

.gridImage {
  height: 310px;
  width: 897px;
  border-radius: 10px;
}

.b2 {
  grid-column: 2/3;
  border-radius: 10px;
}

.gridImage2 {
  height: 150px;
  width: 298px;
  border-radius: 10px;
}

.verticalTiles {
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* flex-direction: row; */
  /* color: red; */
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  width: 90%;
  background-color: rgb(233 228 228);
  margin-left: 5px;
  column-gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tile1 {
  height: 100%;
  width: 27%;
  /* background-color: red; */
  /* display: flex; */
  color: black;
  /* justify-content: center; */
  text-align: center;
  border-radius: 10px;

}

.tile1:hover {
  box-shadow: 2px 2px 5px lightpink;
}

.tile2 {
  height: 100%;
  width: 27%;
  background-color: red;
  border-radius: 10px;

}

.tile3 {
  height: 100%;
  width: 27%;
  background-color: red;
  border-radius: 10px;

}

.tileImg {
  width: 100%;
  height: 230px;
  border-radius: 10px;
}

#hr2 {
  margin-left: 0px;
  width: 25px;
  height: 2px;
  background-color: red;
  opacity: 0.9;
  border: none;
  border-radius: 10px;
}

#latext {
  margin-left: 40px;
  font-size: 30px;
}

.pageContainer {
  display: flex;
  height: 250px;
  overflow: hidden;
  width: 50%;
  background-color: rgb(250, 250, 250);
  margin-left: 30px;
  flex-direction: column;
  /* justify-content: left; */
  row-gap: 10px;
  border-radius: 10px;
}

/* css for PageStruct component */
.pc1 {
  height: fit-content;
  width: 95%;
  /* background-color: aqua; */
  border-radius: 10px;
  color: black;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 2px solid grey;


}

.pc1:hover {
  box-shadow: 5px 5px 10px lightcoral;
}

.pcImage {
  display: inline-block;
  height: 100%;
  width: 50%;
  border-radius: 10px;
}

.pcHR {
  width: 50%;
  margin-left: 30px;
}

.pcRightContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  row-gap: 10px;
  background-color: rgb(250, 250, 250);
  height: fit-content;
  width: 40%;
  position: relative;
  left: 56%;
  top: -2500px;
  border-radius: 10px;
  text-align: center;

}

.pcRC1 {
  height: 150px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 10px;

}

.pcRC1:hover {
  box-shadow: 3px 3px 7px lightsalmon;
}

.adv {
  border: 2px solid black;
  width: 24%;
  height: 350px;
  text-align: center;
  /* margin-left: 72%; */
  /* margin-top: -38%; */
  position: absolute;
  left: 70%;
  top: 410%;
}

.heading {
  top: 45%;
  border: none;
  text-decoration: underline double;
}

.pRCimg {
  height: 100%;
  width: 50%;
  border-radius: 10px;

}

.hometiles {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
  color: blue;
  border-radius: 10px;
  /* justify-content:space-evenly; */
  /* flex-wrap: wrap; */
}

.hometiles:hover {
  box-shadow: 5px -5px 3px grey;
  /* font-size: 20px; */
  transition: 0.2s ease-in-out;
  /* background-color: wheat; */
  /* text-shadow: -5px -5px 5px grey ; */
}

.blogPage {
  height: fit-content;
  width: fit-content;
  background-color: wheat;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content:space-evenly; */
  margin: auto;
  text-align: center;
}

.backbtn {
  height: 29px;
  width: 101px;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 5px;
}

.backbtn:hover {
  background-color: green;
  color: white;
  transition: 0.2s ease-in-out;
  font-size: 25px;
}

/* Media Query  */

@media (min-width:320px) and (max-width:480px) {
  #NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
  }

  #grid {
    display: grid;
    /* background-color: aqua; */
    height: 300px;
    width: 1200px;
    margin: auto;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 3fr 1fr;
  }

  #grid {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    /* background-color: aqua; */
    /* height: 300px; */
    /* width: 1200px; */
    /* margin: auto; */
    /* column-gap: 5px; */
    /* row-gap: 5px; */
    /* grid-template-columns: 3fr 1fr; */
  }

  .gridImage {
    height: 50vh;
    width: 100vw;
    border-radius: 10px;
    margin-left: 10px
  }

  .gridImage2 {
    height: 50vh;
    width: 100vw;
    border-radius: 10px;
    margin-left: 10px;
  }

  #latext {
    height: fit-content;
    width: fit-content;
    margin-left: 25%;
    font-size: 30px;
    background-color: black;
    color: white;
  }

  #hr2 {
    /* width: fit-content; */
    height: 5px;
    color: red;
  }

  .homeDiv {
    position: relative;
    top: 400px;
  }

  .hometiles {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    /* justify-content:space-around; */
  }

  .verticalTiles {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    /* color: red; */
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    width: 90vw;
    background-color: rgb(233 228 228);
    margin-left: auto;
    column-gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .sectionlink {
    margin-left: 25%;
  }

  .sectionlink:hover {
    color: red;
    transition: 0.2s ease-in-out;
    transform: scale3d(20px);
  }

  .adv {
    /* display: none; */
    position: absolute;
    top: 610%;
    left: 10px;
    width: 100vw;
    height: 185px;
  }

  .pc1 {
    height: 200px;
    overflow: hidden;
    /* height: fit-content; */
    width: 100vw;
    /* background-color: aqua; */
    border: 2px solid grey;
    border-radius: 10px;
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    box-shadow: 2px 2px 3px pink;

  }

  .pcRightContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    row-gap: 10px;
    background-color: rgb(213, 206, 206);
    /* height: -moz-fit-content; */
    height: fit-content;
    width: 90%;
    position: relative;
    left: 10%;
    top: 200px;
    row-gap: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
  }

  .pcRC1 {
    height: 150px;
    width: 100%;
    row-gap: 10px;
    overflow: hidden;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
  }

  .blogPage {
    height: fit-content;
    width: 100vw;
    background-color: wheat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    margin: auto;
    text-align: center;
  }

  .blogPage img {
    height: 50vh;
    width: 100%;
  }

  .pageContainer {
    display: flex;
    height: 250px;
    overflow: hidden;
    width: 100vw;
    background-color: rgb(250, 250, 250);
    margin-left: 30px;
    flex-direction: column;
    /* justify-content: left; */
    row-gap: 10px;
    border-radius: 10px;
  }
}